/* text */
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
h3 {
	text-align: center;
}

h4 {
	text-align: center;
}
.span9 p {
	text-align: center;
}
/* add a background */
body {
	background-image: url('paper.png');
}
.navbar-inner {
	background-image: url('gplaypattern.png');
}
.sketch1 {
	background-color: #F55B73;
	opacity: 0.5;
}
/* custom navbar */
.navbar .brand {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	float: none;
	display: inline-block;
	color: #911BA3;
	width: 60%;
}
/* center canvas */
#canvas1 {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;
}
