/* text */
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
h3 {
	text-align: center;
}

h4 {
	text-align: center;
}
p {
	text-align: center;
}
/* add a background */
body {
	background-image: url('paper.png');
}
.navbar-inner {
	text-align: center;
}
.sketch1 {
	background-color: #83DBC8;
	border-radius: 5px 5px 5px 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6%;
	padding-top: 2%;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 4%;
	display: inline-block;
}
/* custom navbar */
.navbar .brand {
	margin-left: 20%;
	margin-right: auto;
	text-align: center;
	float: none;
	display: inline-block;
	color: #299799;
	padding: 2%;
	width: 60%;
}
.navbar li a {

}
/* center canvas */
canvas {
	display: inline-block;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
/* custom footer */
footer {
	margin-top: 10%;
	text-align: center;
}
