/* text */
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
h3 {
	text-align: center;
}

h4 {
	text-align: center;
}
p {
	text-align: center;
}
/* add a background */
body {
	background-image: url('paper.png');
}
.navbar {
	background-image: url('gplaypattern.png');
}
.sketch1 {
	background-color: #F55B73;
	border-radius: 5px 5px 5px 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	display: inline-block;
}
/* custom navbar */
.navbar .brand {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	float: none;
	display: inline-block;
	color: #911BA3;
	max-width: 90%;
}
.navbar li a {
	float: right;
}
/* center canvas */
#canvas1 {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 500px;
}
